@charset "UTF-8";
/*====================================================================
Font　
====================================================================*/
/*----------- icon font inport mixin -----------*/
/*----------- file icon inport mixin -----------*/
/*----------- icon font variables-----------*/
.icofont-doc:before { content: ""; font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none !important; }

.icofont-close:before { content: ""; font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none !important; }

.icofont-window:before { content: ""; font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none !important; }

.icofont-arw:before { content: ""; font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none !important; }

.icofont-arw-thin:before { content: ""; font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none !important; }

.icofont-instagram:before { content: ""; font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none !important; }

.icofont-search:before { content: ""; font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none !important; }

.icofont-folder:before { content: ""; font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none !important; }

.icofont-tri:before { content: ""; font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none !important; }

.icofont-twitter:before { content: ""; font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none !important; }

.icofont-youtube:before { content: ""; font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none !important; }

.icofont-mail:before { content: ""; font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none !important; }

/*----------- Noto Sans variables-----------*/
.u-notofont { font-family: "Noto Sans Japanese"; }

.u-notofont-thin { font-family: "Noto Sans Japanese thin"; }

.u-notofont-medium { font-family: "Noto Sans Japanese medium"; }

.u-notofont-light { font-family: "Noto Sans Japanese light"; }

.u-notofont-demilight { font-family: "Noto Sans Japanese demilight"; }

.u-notofont-bold { font-family: "Noto Sans Japanese bold"; }

.u-notofont-black { font-family: "Noto Sans Japanese black"; }

/*----------- Yakuhan font variables-----------*/
/*====================================================================
Reset　
====================================================================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; text-decoration: none; box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/*====================================================================
Base Font
====================================================================*/
html { font-size: 62.5%; }

body { font: 13px/1.231 arial,helvetica,clean,sans-serif; *font-size: small; /* for IE */ *font: x-small; /* for IE in quirks mode */ font-family: "YakuHanJPs", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

select, input, button, textarea { font: 99% arial, helvetica, clean, sans-serif; }

table { font-size: inherit; font: 100%; }

pre, code, kbd, samp, tt { font-family: monospace; *font-size: 108%; line-height: 100%; }

/*====================================================================
Base Font
====================================================================*/
/* ===================================================
*
*  Webfonts Title: Yaku Han JP ver.Small Amount
*  Author: Qrac
*  URL: https://twitter.com/Qrac_jp
*  "Noto Sans CJK JP" licensed under the SIL Open Font License
*  https://www.google.com/get/noto/#/
*
=================================================== */
@font-face { font-family: 'YakuHanJPs'; font-style: normal; font-weight: 400; src: url(../fonts/YakuHanJPs/YakuHanJPs-Regular.woff2) format("woff2"), url(../fonts/YakuHanJPs/YakuHanJPs-Regular.woff) format("woff"), url(../fonts/YakuHanJPs/YakuHanJPs-Regular.eot); }
@font-face { font-family: 'YakuHanJPs'; font-style: normal; font-weight: 700; src: url(../fonts/YakuHanJPs/YakuHanJPs-Bold.woff2) format("woff2"), url(../fonts/YakuHanJPs/YakuHanJPs-Bold.woff) format("woff"), url(../fonts/YakuHanJPs/YakuHanJPs-Bold.eot); }
/*----------- icofont -----------*/
@font-face { font-family: 'icomoon'; src: url("../fonts/ico/icomoon.eot?1nzcnc"); src: url("../fonts/ico/icomoon.eot?1nzcnc#iefix") format("embedded-opentype"), url("../fonts/ico/icomoon.ttf?1nzcnc") format("truetype"), url("../fonts/ico/icomoon.woff?1nzcnc") format("woff"), url("../fonts/ico/icomoon.svg?1nzcnc#icomoon") format("svg"); font-weight: normal; font-style: normal; }
/*====================================================================
Layout　
====================================================================*/
/* default style
--------------------------------------------------------------------*/
a { text-decoration: none; color: #0ba29a; text-decoration: underline; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

p { font-size: 100%; line-height: 1.8; font-size: 1.4rem; line-height: 1.8; }

li { font-size: 100%; line-height: 1.8; }

/* base
--------------------------------------------------------------------*/
html { height: 100%; color: #1e1e17; background: #fff; }

body { height: 100%; text-align: left; }
body p::selection, body h1::selection, body h2::selection, body h3::selection, body h4::selection, body a::selection, body img::selection, body em::selection, body strong::selection, body dd::selection, body dt::selection, body u::selection, body dfn::selection, body li::selection { color: #000; background: #0ba29a; }
body *::-moz-selection { color: #000; background: #0ba29a; }

body > #wrapper { height: auto; }

#wrapper { min-width: 970px; min-height: 100%; height: auto !important; height: 100%; position: relative; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) { #wrapper { -webkit-text-size-adjust: none; } }


/*　contents block
--------------------------------------------------------------------*/
#contents { width: 970px; overflow: hidden; margin: 0 auto; padding: 80px 0; position: relative; }

.contents__inner { width: 970px; margin: 0 auto; }

.main-contents { width: 728px; float: right; }
.main-contents__title { margin: -5px 0 55px; font-size: 3.6rem; font-family: "Montserrat"; line-height: 1; }

.sub-contents { width: 184px; float: left; }

/*----------- セクション -----------*/
.section__hd { margin: 0 0 15px; font-size: 2.4rem; line-height: 1; font-weight: bold; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.section__subhd { margin: 0 0 10px; font-size: 2rem; line-height: 1; font-weight: bold; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.section p em { font-weight: bold; }
.section p:first-child { margin-top: -12px; }
.section__read { font-size: 1.6rem; }
.section--bg { padding: 50px 90px 50px 110px; background: #e5e9f0; }
.section--bg p { font-size: 1.5rem; }
.section--bg table { width: 100%; table-layout: fixed; margin: -5px 0 60px; font-weight: bold; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.section--bg table:last-child { margin-bottom: 0; }
.section--bg th, .section--bg td { padding: 5px 0; font-size: 1.5rem; line-height: 1.5; }
.section--bg th { width: 23%; }
.section--bg td { width: 77%; }
.section--bg a img { display: inline-block; margin: 0 0 0 5px; vertical-align: middle; }
.section__table { width: 100%; table-layout: fixed; margin: 25px 0; border-bottom: 1px solid #dadad7; }
.section__table th, .section__table td { padding: 14px 20px; line-height: 1.4; border-top: 1px solid #dadad7; }
.section__table th:nth-child(2), .section__table th:nth-child(3), .section__table td:nth-child(2), .section__table td:nth-child(3) { border-left: 1px solid #65cbc5; }
.section__table th { vertical-align: middle; }
.section__table:first-child { margin-top: 0; }
.section__table:last-child { margin-bottom: 0; }
.section__list { margin: 25px 0; }
.section__list__item { padding: 0 0 0 18px; position: relative; }
.section__list__item:before { content: ""; width: 10px; height: 10px; display: block; top: 8px; left: 0px; position: absolute; z-index: auto; border-radius: 100%; background: #0ba29a; }
.section__list__item + .section__list__item { margin-top: 8px; }
.section__list:first-child { margin-top: 0; }
.section__list:last-child { margin-bottom: 0; }
.section + .section { margin-top: 60px; }

/*----------- ページトップへ戻るボタン -----------*/
#page-top { width: 67px; height: 67px; display: block; bottom: 20px; right: 20px; position: fixed; z-index: 100; color: #fff; cursor: pointer; opacity: 0; transition: 0.2s linear opacity; }
#page-top .txt { width: 100%; top: 35px; left: 0px; position: absolute; z-index: 1; font-size: 1.2rem; line-height: 1; text-align: center; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#page-top:before { content: ""; font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none !important; top: 14px; left: 50%; position: absolute; z-index: 1; margin-left: -0.3em; color: white; font-size: 2rem; transform: rotate(-90deg); }
#page-top .bg { width: 67px; height: 67px; display: block; top: 0px; left: 0px; position: absolute; z-index: 0; background: rgba(15, 42, 60, 0.73); border-radius: 100%; transition: 0.1s ease-out background; }
#page-top.is-displayed { opacity: 1; }
#page-top.is-stoped { position: absolute; bottom: 250px; }
#page-top:hover .bg { background: #0f2a3c; animation: circle-swell 0.4s ease-out; }

@keyframes circle-swell { 25% { transform: scale(1.1); }
  75% { transform: none; } }
/* navigation
--------------------------------------------------------------------*/
#local-nav { width: 184px; margin: 0 0 50px; }

.local-nav__inner { overflow: hidden; border-top: 1px solid #dadad7; }
.local-nav__link { font-size: 1.6rem; line-height: 1; font-family: "Montserrat"; border-bottom: 1px solid #dadad7; }
.local-nav__link a { display: block; padding: 13px 15px; color: #1e1e17; text-decoration: none; }
.local-nav__link a:before { content: ">"; font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none !important; margin: 0 5px 0 0; color: #0ba29a; font-size: 1.1rem; }
.local-nav__link a:hover { color: #0ba29a; }
.local-nav__link .hd { display: block; padding: 13px 15px 13px 25px; color: #1e1e17; }
.local-nav__list { margin: 0 0 15px; }
.local-nav__sublink { font-size: 1.2rem; line-height: 1; font-family: "Montserrat"; }
.local-nav__sublink a { padding: 6px 5px 6px 15px; }

#top .local-nav__link a[href="index.html"], .form-category .local-nav__link a[href="registration.html"], #participant-list .local-nav__link a[href="regist.cgi?action=list"], #participant-list .local-nav__link a[href="participant.html"], #access .local-nav__link a[href="access.html"], #photo .local-nav__link a[href="photo.html"], #timetable .local-nav__link a[href="timetable.html"] { color: #0ba29a; }

.bnr-side { display: block; font-family: "Montserrat"; border: 1px solid #0ba29a; transition: 0.1s ease-out; text-decoration: none; }
.bnr-side__hd { display: block; padding: 13px 0 13px 50px; position: relative; color: white; font-size: 1.6rem; line-height: 1; background: #0ba29a; }
.bnr-side__hd:before { content: ">"; font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none !important; top: 14px; left: 19px; position: absolute; z-index: auto; font-size: 1.4rem; }
.bnr-side__txt { display: block; padding: 5px 10px 5px 20px; color: #1e1e17; font-size: 1.2rem; line-height: 1.6; }
.bnr-side:hover { text-decoration: none; opacity: 0.7; }

/*footer
--------------------------------------------------------------------*/
.footer { width: 100%; background: #e9eff5; }
.footer-photo-area { position: relative; background: url(../../common/images/bg-footer.jpg) no-repeat center top; background-size: cover; }
.footer-photo-area img { display: block; }
.footer-photo-area__txt { bottom: 75px; right: 265px; position: absolute; z-index: auto; color: white; font-size: 3.3rem; font-family: "Montserrat"; line-height: 1.15; text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35); }
.footer-photo-area__txt .adjust { display: inline-block; margin: 0 22px 0 0; }
.footer-link-area { padding: 40px 0; }
.footer__inner { width: 970px; margin: 0 auto; overflow: hidden; position: relative; }
.footer-nav { width: 50%; float: left; }
.footer-nav__link { font-size: 1.2rem; line-height: 1; font-family: "Montserrat"; }
.footer-nav__link:before { content: ">"; font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none !important; margin: 0 5px 0 0; color: #0ba29a; font-size: 1rem; }
.footer-nav__link a { color: #1e1e17; text-decoration: none; letter-spacing: .5px; }
.footer-nav__link a:hover { color: #0ba29a; }
.footer-nav__link + .footer-nav__link { margin-top: 12px; }
.footer-information { width: 275px; float: right; line-height: 2; }
.footer-information p { font-size: 1.2rem; }
.footer__parent-ci { display: block; margin: 0 0 0 -2px; }

.copyright { display: block; padding: 23px 0; border-top: 1px solid #c9d2da; font-family: "Montserrat"; font-size: 1.2rem; line-height: 1; }
.copyright .inner { width: 970px; display: block; margin: 0 auto; }

/*# sourceMappingURL=layout.css.map */
